{% extends 'layout.html' %}

{% block titre %}
    Connexion
{% endblock %}

{% block body %}
    <h1 class="center">Connexion</h1>
    <div class="row">
        <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3 center">
            <form action="" method="POST" id="loginForm">
                <label for="email">Email :</label><br/>
                <input type="text" name="email" id="email" /><br/><br/>
                <label for="password">Password :</label><br/>
                <input type="password" name="password" id="password" /><br/><br/>
                <input type="submit" class="btn light-blue darken-1" value="Connecter"/>
            </form>
        </div>
    </div>
{% endblock %}
